<div class="container">
  {{#each}}
    <img {{bind-attr src=user.avatar}}/>
    <div>
      title:{{title}} <br/>
      user:{{user.username}}, body:{{body}}, tags:{{tags}}
    </div>
  {{/each}}
</div>

