<div class="container">
  {{#each}}
    <div class="bump"></div>
    <div class="row post">
      <div>
        {{gravatar-image email=user.email alt=user.username size=48}}
      </div>
      <div>
        <div class="title">{{title}}</div>
        <div class="info">
          {{user.username}}, body:{{body}}, tags:{{tags}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

